body {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;        
    margin: 0;              
  }
  
  #main {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }

  input {
    margin-bottom: .5rem;
  }

  #blog-list {
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  